#clicker {
  border-radius:50%;
  width:200px;
  height:200px;
  background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, lightblue, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, lightblue, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, lightblue, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, lightblue, green);
  text-align:center;
}

#clicks {
  font-size:30px;
}

#hero {
  text-align:center;
  padding-top:150px;
  padding-bottom:250px;
}

body {
  font-family:Arial;
}

#clicker {
  text-align:center;
}
